button {
  margin: 5px;
  padding: 5px 10px;
}

.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0; 
  float: right;
}

.header_fonts {
  font-family: 'Adamina';
  font-size: 3rem;
}

.title_fonts {
  font-family: 'Times New Roman', serif;
  margin: 10px;
}

.btn_group{
  padding: 2rem 0.6rem 0 0.6rem;
}

.btn_text {
  margin-top:-5px !important;
  margin-left: 6px !important;
}

.task-input {
  width: 100%; 
  max-width: 400px;
  height: 30px;
  font-size: 16px;
}

.task-card {
  margin: 10px 0px 10px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
  border: 1px solid #e0e0e0;
}

.task-title {
  font-family: 'Times New Roman', serif;
  font-size: 1.1rem;
  word-wrap: break-word;
  flex-grow: 1;
}

.task-manager-container {
  width: 50%; 
  /* text-align: center;  */
  margin: 0 auto; 
}

.header_fonts {
  font-family: 'Adamina', serif;
  font-size: 2.3rem;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .task-manager-container {
    width: 80%; 
  }
}

@media (max-width: 600px) {
  .btn_group {
    padding-left: 0; 
    justify-content: center; 
  }

  .MuiStack-root {
    flex-direction: column;
    align-items: center; 
  }

  .MuiButton-root {
    width: 100%;
    margin-bottom: 0.5rem; 
  }

  .btn_text {
    margin-top:12px !important;
    margin-left: 0px !important;
    width: 102%;
  }

  .task-title {
    font-size: 1rem; 
  }

  .task-card {
    padding: 10px; 
  }

  .delete-btn {
    padding: 4px; 
  }

  .btn_fonts{
    font-size: 12px !important;
  }
}

